# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.h5
*.pkl
# Jupyter Notebook checkpoint
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# 3W toolkit documentation
html/

# VS Code configuration
.vscode/
